.menu-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .menu-trigger {
    display:flex;
    justify-content: center;
    align-items: center;
    gap:1rem;
    font-size: 15px;
    border: 1px solid #fff;
    background: #040714;
    color:#fff;
  padding: 6px 24px;
  border-radius: 4px;
  text-transform: uppercase;
  transition: all 0.5s ease;
  cursor : pointer;
    
  }
  
  .menu-trigger:hover {
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
    background: #fff;
    color: black;
  }
  
  .menu-trigger span {
    font-weight: 700;
    vertical-align: middle;
    font-size: 14px;
    margin: 0 10px;
  }
  
  .menu-trigger img {
    border-radius: 90px;
    width:30px;
    height:30px;
  }
  
  .menu {
    background: #ffffff;
    border-radius: 8px;
    position: absolute;
    top: 60px;
    right: 0;
    width: 300px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
  }
  
  .menu.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
  
  .menu { 
    z-index: 1;
  }
  .menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .menu-trigger:hover {
  box-shadow: 0 0.5em 0.5em -0.4em #fff;
}
  .menu li {
    border-bottom: 1px solid #dddddd;
    cursor: pointer;
  }
  
  .menu li a {
    text-decoration: none;
    color: #333333;
    padding: 15px 20px;
    display: block;
  }
  
  .menu li a:hover { 
    opacity: 0.5;
    color:black;
  }